.links_body{
	padding: 14px;
}

.new_post_btn{
	padding:7px 8px 6px 8px;
	color:white;
	border-radius: 5px;
	background-color:#38b50e;
	font-weight:600;
	cursor: pointer;
}

.msg_links{
	font-weight: 600;
	color:#00c7d9;
	text-decoration:none;
}

.my_pre_msg{
	color: #3e3f5e;
  font-family: "Rajdhani", sans-serif;
}

.pointer{
	cursor: pointer;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
