option{
	font-weight: 600;
}

.links_body{
	padding: 14px;
}

.new_post_btn{
	padding:7px 8px 6px 8px;
	color:white;
	border-radius: 5px;
	background-color:#38b50e;
	font-weight:600;
	cursor: pointer;
}

#read_post_box{
	display:none;
}

/* bluedot */
.tag_dot::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #3e3f5e;
  position: absolute;
  top: 1px;
  left: 0;
}

.msg_links{
	font-weight: 600;
	color:#00c7d9;
	text-decoration:none;
}


.my_pre_msg{
	color: #3e3f5e;
  font-family: "Rajdhani", sans-serif;
	font-size: 1rem;
	overflow-y: hidden;
}

.pointer{
	cursor: pointer;
}

.post_img_container{
	background-color: white;
}
#post_img{
	width: 450px;
	height: 400px;
	object-fit: contain;
}
#admin_post_img{
	width: 500px;
	height: 450px;
	object-fit: contain;
}
.view_post_small{
	object-fit: contain;
	background-color: white;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding:4px;
}

.avatar_select{
	cursor:pointer;
}
.avatar_select_border{
	border:2px solid green !important;
}

.avatar_big{
	width: 80px;
	border-radius:45%;
	height:80px;
	object-fit: contain;
}
.avatar_small{
	width: 30px;
	border-radius:45%;
	height:30px;
	object-fit: contain;
}
.avatar_mob{
	width: 30px;
	border-radius:45%;
	height:30px;
	object-fit: contain;
}

.weight-700{
	font-weight:700 !important;
}

.linkified_a{
	text-decoration: none;
	font-weight: 600;
	color:#00c7d9;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
