@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




.bg-color{
	
}

button{border:0px;}
button:hover{
	color:white;
	background-color: green;
}
button:active{
	font-weight: bold;
}

a{
	color:green !important;
	text-decoration: underline;
	text-decoration-color: lightblue;
}
a:hover{
	color:green !important;
	text-decoration: underline;
	text-decoration-color: lightblue;
}

td a,td a:hover{
	color:#86c0ff !important;
}

th,td{
	border: 1px solid white;
}
td{
	padding:0.5%;
}
@media only screen and (max-width: 1310px) {
	td{
		padding:4px;
	}
}

option{
	color:green;
	background-color: black;
}
option:hover{
	color:#1dbf1d;
	background-color:#313131;
}

.nl_patch{
	color:white !important;
	font-family: 'Inter', sans-serif !important;
}
